pre {
    font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
    padding: 1rem;
    background: #f8f9fa;
    border-radius: .15rem;
    font-size: .875rem;
    overflow-x: auto;
}

.docs-page {
    /*display: flex;*/
}

.docs-content {
    margin-top: 15px;
    padding: 0;
    /*width: 700px;*/
    /*background: red;*/
}

.docs-toc {
    font-size: 12px;
}

@media (min-width: 576px) {
    .docs-toc {
        position: fixed;
        top: 115px;
    }

    .docs-toc {
        width: calc(100vw - (25% + 58.333333%) - 15px);
        left: calc(25% + 58.333333%);
    }
}

.docs-toc a {
    color: #004ed0 !important;
}
.docs-toc ul {
    list-style: none;
    padding-left: 10px;
    margin: 0;
}



.docs-cats {
    font-size: 12px;
}

.docs-cats {
    position: fixed;
    left: 15px;
    top: 120px;
    width: 25%;
}

.docs-cats ul {
    list-style: none;
    padding-left: 10px;
    margin: 0;
}

.docs-cats li {
    padding-left: 10px;
    text-indent: -10px;
}

/*
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
*/
