pre {
    font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
    padding: 15px;
    background: #f8f9fa;
    font-size: 14px;
    overflow-x: auto
}

.docs-page {
    /*display: flex;*/
}

.docs-content {
    margin-top: 15px;
    /*width: 700px;*/
    /*background: red;*/
}

.docs-toc {
    margin-top: 15px;
    font-size: 12px;
}

.docs-toc a {
    color: #0099e5 !important;
    text-decoration: none !important;
}
.docs-toc ul {
    list-style: none;
    padding-left: 10px;
    margin: 0;
}

.docs-cats {
    margin-top: 15px;
    margin-left: -10px;
    font-size: 12px;
}

.docs-cats ul {
    list-style: none;
    padding-left: 10px;
    margin: 0;
}

.docs-cats li {
    padding-left: 10px;
    text-indent: -10px;
}

.docs-cats li a {
    color: #0d2b3e !important;
    text-decoration: none !important;
}
.docs-cats li a, summary {
    font-weight: 500;
}
.docs-cats li.active a {
    font-weight: 700;
    color: #0099e5 !important;;
}

@media (min-width: 576px) {
    .docs-cats {
        position: sticky;
        top: 0
    }
}

@media (min-width: 768px) {
    .docs-toc {
        position: sticky;
        top: 0
    }
}

/*
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
*/

.docs-left-column {
    background: #F5F7F9;
    border-right: 1px solid #F4F6F8;
}

@media (min-width: 576px) {
    .docs-left-column {
        min-height: calc(100vh - 88px);
    }
}


.docs-cats-separator {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #939da3;
}