.search-form {
    display: flex;
}

.search-form .form-control {
    color: #373e42;
}

.search-form__icon {
    width: 16px;
    height: 16px;
    fill: #373e42;
}

@media (max-width: 991px) {
    .search-form {
        width: 100%
    }
}

@media (max-width: 991px) and (min-width: 768px) {
}

@media (min-width: 992px) {
    .search-form {
        width: 400px
    }
}
