{{ $activeURL := .activeURL }}
{{ $isMain := .isMain }}
{{ $file := printf "%s_index.md" .url }}

{{ with .Site.GetPage $file }}
{{ $thisPage := . }}

{{ $array := (cond (eq true $isMain) (sort (union ( union (slice $thisPage) .Sections ) .Pages) "Params.menu_order") (sort (union .Sections .Pages) "Params.menu_order") ) }}

<ul>
    {{ range $array }}

    {{ if .Params.separator }}
    <li>
        <header class="docs-cats-separator">{{ .Params.separator }}</header>
    </li>
    {{ end }}
    
    {{ if ne true .Params.menu_hide }}
    
    {{ if (and (eq "section" .Kind) (ne $thisPage . ) ) }}
    <li>
        {{ if hasPrefix $activeURL .RelPermalink }}
            <details open>
        {{ else }}
            <details>
        {{ end }}
            <summary>
                {{ if .Title }}{{ .Title }}
                {{ else }}{{ .RelPermalink }}{{ end }}
            </summary>
            {{ $url := printf "/%s" .Dir }}
            {{ if ne . $thisPage }}
            {{ partial "list-of-cat.html" (dict "url" $url "Site" .Site "activeURL" $activeURL ) }}
            {{ end }}
        </details>
    </li>
    {{ else if (or (eq $thisPage .) (and (eq "page" .Kind) (eq "docs" .Type) ) ) }}
    <li {{ if eq $activeURL .RelPermalink }}class="active"{{ end }}>
        <a href="{{.Permalink}}">
            {{ if .Title }}{{ .Title }}
            {{ else }}{{ .RelPermalink }}{{ end }}
        </a>
    </li>
    {{ end }}

    {{ end }}
    {{ end }}
    
    {{ end }}
</ul>
