{{ $activeURL := .activeURL }}
{{ $file := printf "%s_index.md" .url }}

{{ with .Site.GetPage $file }}

{{ if .Sections }}
<ul>
    {{ range .Sections }}
    {{ if .Params.separator }}
    <li>
        <header class="docs-cats-separator">{{ .Params.separator }}</header>
    </li>
    {{ end }}
    <li>
        {{ if hasPrefix $activeURL .RelPermalink }}
            <details open>
        {{ else }}
            <details>
        {{ end }}
            <summary>
                {{ if .Title }}{{ .Title }}
                {{ else }}{{ .RelPermalink }}{{ end }}
            </summary>
            {{ $url := printf "/%s" .Dir }}
            {{ partial "list-of-cat.html" (dict "url" $url "Site" .Site "activeURL" $activeURL ) }}
        </details>
    </li>
    {{ end }}
</ul>
{{ end }}

{{ if .Pages }}
<ul>
    {{ range .Pages }}
    {{ if eq "docs" .Type }}

    {{ if .Params.separator }}
    <li>
        <header class="docs-cats-separator">{{ .Params.separator }}</header>
    </li>
    {{ end }}
    <li {{ if eq $activeURL .RelPermalink }}class="active"{{ end }}>
        <a href="{{.Permalink}}">
            {{ if .Title }}{{ .Title }}
            {{ else }}{{ .RelPermalink }}{{ end }}
        </a>
    </li>
    {{ end }}
    {{ end }}
</ul>
{{ end }}

{{ end }}
