{{ $mainDir := replaceRE "(/[^/]*)/.*" "$1/" $.URL }}
{{ $indexName := replaceRE "/([^/]*)/.*" "$1" $.URL }}

<nav class="navbar navbar-expand-lg navbar-light navbar-sky">

  <div class="container-fluid--zamenhof">
      <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12 nav-left-column">
              <a class="navbar-brand" href="/">
                  {{ if .Site.Params.logo }}
                  <img src='{{ .Site.Params.logo | absURL }}' alt="" class="navbar__logo">
                  {{ else }}
                  <img src='{{ "img/logo.svg" | absURL }}' alt="" class="navbar__logo">
                  {{ end }}
              </a>
              <button class="navbar-toggler border-0 d-block d-sm-none" type="button" data-toggle="collapse" data-target="#navbarCategories" aria-controls="navbarCategories" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse navbar-categories" id="navbarCategories">
              {{ partial "list-of-cat.html" (dict "url" $mainDir "Site" .Site "activeURL" $.URL ) }}
          </div>
          <div class="col">
{{ $jsonUrl := printf "lunr-%s.json" $indexName }}
              <form onsubmit="return false;" class="search-form" data-index="{{ $jsonUrl | absURL }}">
                  <div class="input-group">
                      <span class="input-group-prepend">
                          <div class="input-group-text bg-white border-0">
                              <svg class="search-form__icon" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
                                  <use xlink:href='{{"img/fa/solid.svg" | absURL }}#search'></use>
                              </svg>
                          </div>
                      </span>
                      <input class="form-control py-2 border-0" name="q" placeholder="Search documentation..." autocomplete="off" >
                      <!--<button type="submit" class="btn btn-primary my-2">Search</button>-->
                  </div>
              </form>
          </div>
          <div class="col-xs-12 teacher-link-column">
              <a href="https://admin.zamenhof.net/login#teacher" target="_blank">Login to Teacher Account
                  <svg class="search-form__icon" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
                      <use xlink:href='{{"img/fa/solid.svg" | absURL }}#external-link-alt'></use>
                  </svg>
              </a>
          </div>
      </div>
  </div>

</nav>
